@import url(./main.css);
@import url(./menu.css);
@import url(./cart.css);
@import url(./calendar.css);
@import url(./calendar-form.css);
@import url(./clerk.css);
@import url(./clerk-form.css);
@import url(./client.css);
@import url(./client-form.css);
@import url(./product.css);
@import url(./product-form.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    font-size: 62.5%;
    
    --height-header: 7.2rem;
    --width-nav: 4.8rem;

    --primary-color: #f65a4c;
    --secondary-color: #0c2b28;
    --primary-bg-color: #121212;
    --secondary-bg-color: #242424;
    --input-bg-color: #3d3d3d;
    --text-color: #e6e6e6;
    --btn-bg-color: #e4e1b6;
    --text-price-color: #57DBCE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    max-width: 100%;
    height: 100%;
}

body {
    height: 100vh;
    margin-inline: auto;
    font-size: 1.6rem;
    text-align: center;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

header.menu {
    width: 100%;
    height: var(--height-header);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 4.7rem;
    background-color: var(--secondary-color);
    z-index: 1;
}

header.menu span.logo img {
    margin-block: 0.8rem;

}

nav.navigation {
    width: 4.8rem;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--secondary-color);
    z-index: 1;
}

aside.sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 0.2rem;
    
}

ul.sidebar-list-item li button img {
    margin-block: 3.2rem;
    margin-inline: 1.2rem;
}

button.btn-menu-burguer{
    background: none;
    border: none;
}

button.btn-menu-burguer img:hover{
    cursor: pointer;
}

ul.sidebar-list-item li a img {
    margin-block: 3.2rem;
    list-style: none;
    margin-inline: 1.2rem;
}

main {
    margin-inline: 2.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



/*Tamanho geral das imagens*/
img {
    max-width: 100%;
}