@import url(./main.css);
@import url(./menu.css);
@import url(./cart.css);
@import url(./calendar.css);
@import url(./calendar-form.css);
@import url(./clerk.css);
@import url(./clerk-form.css);
@import url(./client.css);
@import url(./client-form.css);
@import url(./product.css);
@import url(./product-form.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Zilla+Slab:ital,wght@1,300&display=swap');

:root {
  font-size: 62.5%;

  --height-header: 7.2rem;
  --width-nav: 4.8rem;

  --primary-color: #f65a4c;
  --secondary-color: #0c2b28;
  --primary-bg-color: #121212;
  --secondary-bg-color: #242424;
  --input-bg-color: #3d3d3d;
  --text-color: #e6e6e6;
  --btn-bg-color: #e4e1b6;
  --text-price-color: #57dbce;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  max-width: 100%;
  height: 100%;
}

body {
  height: 100vh;
  margin-inline: auto;
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

header.menu {
  width: 100%;
  height: var(--height-header);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: var(--secondary-color);
  z-index: 1;
}

nav.navigation {
  width: 4.8rem;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--secondary-color);
  z-index: 1;
}

aside.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 0.2rem;
}

ul.sidebar-list-item {
  width: 100%;
  height: 100%;
}

ul.sidebar-list-item li {
  width: 3.2rem;
  height: 3.2rem;
  margin-block: 3.2rem;
  margin-inline: 1.2rem;
  list-style: none;
}

ul.sidebar-list-item li a  {
  text-decoration: none;
  margin-block: 3.2rem;
  margin-inline: 1.2rem;
}



main {
  margin-inline: 2.4rem;
  padding-inline: var(--width-nav);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* footer */

footer {
  display: flex;
  width: 100%;
  height: 100vh;
  padding-block-start: var(--height-header);
  flex-direction: column;
}

footer span.title-footer h2 {
  padding-inline-start: calc(var(--width-nav) + 2rem);
  padding-inline-end: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

footer div.content-footer {
  width: 100%;
  height: 50vh;
  background: var(--secondary-bg-color);
}

footer div.content-footer span.content-footer-title {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  padding-inline-start: calc(var(--width-nav) + 2rem);
  padding-inline-end: 2rem;
}

footer div.content-footer span.content-footer-title h3 {
  font-size: 1.5rem;
  margin-inline-end: 1rem;
  text-decoration: underline 0.25rem var(--primary-color);
}

footer div.content-footer span.content-footer-title p {
  font-size: 1.5rem;
  margin-inline-end: 1rem;
  text-decoration: underline 0.25rem var(--text-price-color);
}

footer div.content-footer div.content-footer-unities {
  width: 100%;
}

footer div.content-footer .content-footer-country h4 {
  padding-inline-start: calc(var(--width-nav) + 2rem);
  padding-inline-end: 2rem;
  font-family: 'Zilla Slab', serif;
}

footer div.content-footer .content-footer-country p {
  padding-inline-start: calc(var(--width-nav) + 2rem);
  padding-inline-end: 2rem;
  font-family: 'Zilla Slab', serif;
  margin-block-end: 1rem;
}

div.content-footer-social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  margin-block-start: 1.5rem;

  padding-inline-start: calc(var(--width-nav) + 2rem);
  padding-inline-end: 2rem;
  color: var(--primary-color);
}

div.content-footer-social .social img {
  width: 2rem;
}

hr {
  border-color: var(--primary-color);
}

div.content-footer span.copyright p {
  font-size: 0.8rem;
  color: var(--text-color);
  padding-inline-start: calc(var(--width-nav) + 2rem);
  padding-inline-end: 2rem;
  margin-block-start: 0.3rem;
}

/*Tamanho geral das imagens*/
img {
  max-width: 100%;
}

/* media queries */
@media only screen and (min-width: 289px) {
  footer span.title-footer h2 {
    height: 30vh;
    padding-block-end: 4.7rem;
    font-size: 3rem;
  }
}

@media only screen and (min-width: 339px) {
  div.content-footer-social .social img {
    width: 2.6rem;
  }
}

@media only screen and (min-width: 400px) {
  footer span.title-footer h2 {
    font-size: 3.6rem;
  }
}

@media only screen and (min-width: 500px) {
  div.content-footer-social .social img {
    width: 3.4rem;
  }

  footer span.title-footer h2 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 576px) {
  footer span.title-footer h2 {
    font-size: 4.2rem;
  }
}

@media only screen and (min-width: 600px) {
  footer span.title-footer h2 {
    font-size: 4.5rem;
  }

  footer div.content-footer span.content-footer-title h3 {
    font-size: 2rem;
  }

  footer div.content-footer span.content-footer-title p {
    font-size: 2rem;
  }

  footer div.content-footer div.content-footer-unities {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    margin-block: 5rem;
  }

  footer div.content-footer .content-footer-country h4 {
    font-size: 3rem;
  }

  footer div.content-footer .content-footer-country p {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 636px) {
  footer span.title-footer h2 {
    font-size: 4.6rem;
  }

  footer div.content-footer div.content-footer-unities {
    justify-content: space-around;
  }
}

@media only screen and (min-width: 654px) {
  footer span.title-footer h2 {
    font-size: 4.66rem;
  }

  footer div.content-footer div.content-footer-unities {
    justify-content: space-around;
  }
}

@media only screen and (min-width: 768px) {
  footer span.title-footer h2 {
    font-size: 4.66rem;
  }

  footer div.content-footer .content-footer-country h4 {
    font-size: 3rem;
  }

  footer div.content-footer .content-footer-country p {
    font-size: 1.6rem;
  }

  footer div.content-footer div.content-footer-unities {
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1040px) {
  footer span.title-footer h2 {
    font-size: 5.2rem;
  }

  footer div.content-footer div.content-footer-unities {
    justify-content: space-around;

    margin-block: 6rem;
  }
}

@media only screen and (min-width: 1200px) {
  footer span.title-footer h2 {
    font-size: 5.4rem;
  }

  footer div.content-footer div.content-footer-unities {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 60rem) {
  header.menu {
    left: 1.6rem;
  }
}

@media only screen and (min-width: 60rem) {
  header.menu {
    left: 1.7rem;
  }
}

@media only screen and (min-width: 76.8rem) {
  header.menu {
    margin-inline-start: 0.1rem;
  }
}

@media only screen and (min-width: 120rem) {
  header.menu {
    margin-inline-start: 1.5rem;
  }
}

@media only screen and (min-width: 140rem) {
  header.menu {
    margin-inline-start: 1.5rem;
  }
}
